doctype html
html(lang="en")
  head
    title= pageTitle
    meta(name='viewport' content='width=device-width, initial-scale=1')
    script(type='text/javascript' src='bundle.js')
  body
    .container
      h1.title Pug - node template engine
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.